<% if attrs.include?(:access_level_id) %>
<%= bulk_edit :access_level_id %>
<%= f.label "Access Level" %>

<div class="access-level">
  <% AccessLevel.all.each do |access_level| %>

    <% if current_user.can_set_access_level?(@stored_file, access_level) %>
      <%= f.label :access_level_id, access_level.label %>
      <%= f.radio_button :access_level_id, access_level.id, :class => "access_level_radio" %><br/>
    <% end %>
  <% end %>
</div>
<% else -%>
<%= f.label "Access Level" %>
<%= @stored_file.access_level ? @stored_file.access_level.name : '' %>
<% end -%>
<br />

