<% if @stored_file.allow_notes -%>
<% @stored_file.comments.each do |comment| -%>
<div style="border:1px dashed #dfdfdf;">
<%= comment.content %> / <%= comment.user.name %>
<% if current_user.can_do_method?(@stored_file, "delete_comments") || comment.user == current_user -%>
<%= link_to 'X', stored_file_comment_path(@stored_file, comment), :method => :delete, :class => "delete-comment" %>
<% end -%>
</div>
<% end -%>
<div id="comments">
<%= form_for :comment, :url => "/stored_files/#{@stored_file.id}/comments", :html => { :id => "new-comment" } do |f| %>
<%= f.label :content %>
<%= f.text_area :content, :rows => 3 %>
<%= f.submit "Add Comment" %>
<% end -%>
</div>
<% end -%>
