<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<%= check_box_tag "attr_for_bulk_edit[]", :collection_list %>
			<%= f.label :collection_list %>
			<%= f.text_field :collection_list %><br />
			
			<%= check_box_tag "attr_for_bulk_edit[]", :tag_list %>
			<%= render :partial => "tags/form", :locals => {:f => f}  %><br/>

			<%= check_box_tag "attr_for_bulk_edit[]", :description %>
			<%= f.label :description %><br />
			<%= f.text_area :description, :rows => 3 %><br />
		</td>
		<td>
			<%= f.label :author, "Author" %>
			<%= f.text_field :author %><br />
			<%= f.label :office %>
			<%= f.text_field :office %><br />
			<%= f.label :title %>
			<%= f.text_field :title %><br />


            <% if false && !@stored_file.new_record? -%>
	      <% #TODO add javascript to set _destroy if NONE is selected as disposition %>
              <% if current_user.can_do_method?(@stored_file, "manage_disposition") -%>
		
		<%= f.fields_for :disposition_attributes, @stored_file.disposition do |d| -%>
		  <%= d.label :disposition_action_id %>
		  <%= d.select :disposition_action_id, DispositionAction.all.collect { |p| [ p.action, p.id ] }, { :include_blank => 'None' } %><br />
		  <%= d.label :location %><br />
		  <%= d.text_area :location, :rows => 3 %><br />
		  <%= d.label :note %><br />
  		  <%= d.text_area :note, :rows => 3 %>
                <% end %>
		
	      <% elsif @stored_file.disposition -%>
                <b>Current Disposition</b><br />
                <%= @stored_file.disposition.disposition_action.action %><br />
                <%= @stored_file.disposition.location %><br />
                <%= @stored_file.disposition.note %><br />
              <% end -%>
            <% end -%>
	  </td>
	</tr>
</table>
<%= f.check_box :allow_notes %> <%= f.label "Allow users to add comments" %>
<hr />

<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td>
		  <%= render :partial => "access_levels/form" %>
		</td>
		<td>
                  <%= f.label "Groups" %>
                  <%= f.fields_for :groups_stored_files, @stored_file.groups_stored_files do |existing_groups_form| %>
                    <%= render "groups_stored_files/form", :f => existing_groups_form %>
                  <% end %>
                  <% (current_user.owned_groups - @stored_file.groups).each do |group| %>
                    <%= f.fields_for :groups_stored_files, @stored_file.groups_stored_files.build(:group_id => group.id) do |group_form| %>
                      <%= render "groups_stored_files/form", :f => group_form %>
                    <% end %>
                  <% end %>
		</td>
	</tr>
</table>
<hr />
<%= f.label :copyright %>
<%= f.text_field :copyright %><br />
<%= f.label :license_id, "License" %><br />
<% @licenses.each do |license| -%>
	<%= f.radio_button(:license_id, license.id) %> <%= license.name %>
<% end -%>		
<hr />

<%= render "flags/form", :f => f, :stored_file => @stored_file, :flags => Flag.all %>
