<div id="panel">	
	<h3>Find Files</h3>

    <% if @removeable_facets && @removeable_facets.size > 0 -%>
	<div id="current_search">
		Current Search Criteria <a href="/search">(Clear All)</a>
		<div id="current_facets">
		<% @removeable_facets.each do |k, v| -%>
	  	<span><%= k %></span>:
		<% v.each do |remove_link| -%>
			<%= remove_link[:label] %> <%= link_to 'X', remove_link[:url] %>
		<% end -%>
		<br />
		<% end -%>
		</div>
	</div>
	<% end -%>

	<div id="search_keyword">
		Search by Keyword <a href="#">(SEARCH TIPS)</a>
		<%= form_tag search_path, :method => :get do %>
			<%= text_field_tag :search, params[:search] %>
			<%= image_submit_tag "search.png" %>
		<% end %>
	</div>

	<% if @facets -%>
	<div id="accordion">
		<h3><a href="#">Date</a></h3>
		<div>
			Date Uploaded <input name="date_type" type="radio" value="ingest_date" />
			Original Document Date <input name="people_type" type="radio" value="original_date" />
			<%= form_tag search_path, :method => "POST" do %>
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td>
							From
 							<%= text_field_tag "created_at_start_date", safe_strftime(@created_at_start_date) %>
						</td>
						<td>
							To
	    					<%= text_field_tag "created_at_end_date", safe_strftime(@created_at_end_date) %>
						</td>
					</tr>
				</table>
				<%= submit_tag "submit" %>
	  		<% end %>
		</div>
		<h3><a href="#">People</a></h3>
		<div id="people">
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						Creator <input name="people_type" type="radio" value="author" />
						Contributor <input name="people_type" type="radio" value="user_id" />
					</td>
					<td>
						<%= form_tag search_path, :method => "POST" do %>
 						<%= text_field_tag "people" %>
						<% end -%>
					</td>
				</tr>
			</table>
		</div>
		<h3><a href="#">File Attributes</a></h3>
		<div>
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						Collection name
						<%= form_tag search_path, :method => "POST" do %>
 						<%= text_field_tag "indexed_collection_list" %>
						<% end -%>
					</td>
					<td>
						Batch Number
						<%= form_tag search_path, :method => "POST" do %>
 						<%= text_field_tag "batch_id" %>
						<% end -%>
					</td>
				</tr>
				<tr>
					<td>
						<% if @facets[:flag_ids] %>
        				<% @facets[:flag_ids].each do |flag| %>
              			<%= link_to flag[:label], flag[:url] %><br />
           				<% end -%>
           				<% end -%>
					</td>
					<% if @facets[:mime_type_category_id] %>
					<td>
						Files Type
        				<% @facets[:mime_type_category_id].each do |mc| %>
              			<%= link_to mc[:label], mc[:url] %><br />
            			<% end -%>
					</td>
            		<% end -%>
				</tr>
			</table>
		</div>
		<% if @facets[:license_id] %>
		<h3><a href="#">Copyright</a></h3>
		<div>
        	<% @facets[:license_id].each do |license| %>
              <%= link_to license[:label], license[:url] %><br />
            <% end -%>
		</div>
		<% end -%>
	</div>
	<% end -%>
	<div class="clear"></div>
</div>

<% if @facets -%>
<div id="expand">
<a href="#">Expand All</a>
</div>
<% end -%>
