<div id="panel">	
	<h3>Find Files</h3>

    <% if @removeable_facets && @removeable_facets.size > 0 -%>
	<div id="current_search">
		Current Search Criteria <a href="/search">(Clear All)</a>
		<div id="current_facets">
		<% @removeable_facets.each do |k, v| -%>
	  	<span><%= k %></span>:
		<% v.each do |remove_link| -%>
			<%= remove_link[:label] %> <%= link_to 'X', remove_link[:url] %>
		<% end -%>
		<br />
		<% end -%>
		</div>
	</div>
	<% end -%>

	<%= form_tag search_path, :method => :get, :id => 'search_form' do %>
	<% if @hidden_facets -%>
	<% @hidden_facets.each do |k, v| %>
    	<% if v.is_a?(Array) %>
    		<% v.each do |b| %>
   			<%= hidden_field_tag "#{k}[]", b %>
    		<% end -%>
    	<% else -%>
    		<%= hidden_field_tag k, v %>
    	<% end -%>
	<% end -%>
	<% end -%>
	<div id="search_keyword">
		Search by Keyword <a href="#">(SEARCH TIPS)</a>
			<%= text_field_tag "search[]", '' %>
			<%= image_submit_tag "search.png" %>
	</div>

	<div id="accordion">
		<h3><a href="#">Date</a></h3>
		<div id="dates">
			Date Uploaded
			<%= radio_button_tag "date_type", "created_at", (!params.has_key?(:date_type) || params[:date_type] == "created_at") %>
			Original Document Date
			<%= radio_button_tag "date_type", "original_date", params[:date_type] == "original_date" %>
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						From
 						<%= text_field_tag "start_date", safe_strftime(@start_date) %>
					</td>
					<td>
						To
	    				<%= text_field_tag "end_date", safe_strftime(@end_date) %>
					</td>
				</tr>
			</table>
		</div>
		<h3><a href="#">People</a></h3>
		<div id="people">
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						Creator
						<%= radio_button_tag "people_type", "author", (!params.has_key?(:people_type) || params[:people_type] == "author") %>
						Contributor
						<%= radio_button_tag "people_type", "contributor_name", params[:people_type] == "contributor_name" %>
					</td>
					<td>
 						<%= text_field_tag "people" %>
					</td>
				</tr>
			</table>
		</div>
		<h3><a href="#">File Attributes</a></h3>
		<div>
			<table width="100%" cellpadding="5" cellspacing="0">
				<tr>
					<td width="170">
						Collection name
 						<%= text_field_tag "indexed_collection_list" %>
					</td>
					<td width="100">
						Batch Number
 						<%= text_field_tag "batch_id" %>
					</td>
				</tr>
				<tr>
					<td>
						<% if @facets && @facets[:flag_ids] %>
        				<% @facets[:flag_ids].each do |flag| %>
              			<span class="flag">
							<%= link_to flag[:label], flag[:url] %>
						</span>
           				<% end -%>
           				<% end -%>
					</td>
					<% if @facets && @facets[:mime_type_category_id] %>
					<td valign="top">
						Files Type
        				<% @facets[:mime_type_category_id].each do |mc| %>
              			<%= link_to mc[:label], mc[:url] %><br />
            			<% end -%>
					</td>
            		<% end -%>
				</tr>
			</table>
		</div>
		<% if @facets && @facets[:license_id] %>
		<h3><a href="#">Copyright</a></h3>
		<div>
        	<% @facets[:license_id].each do |license| %>
              <%= link_to license[:label], license[:url] %><br />
            <% end -%>
		</div>
		<% end -%>
	</div>
	<% end -%>
	<div class="clear"></div>
</div>

<div id="expand">
<a href="#">Expand All</a>
</div>
