<section id="filter">
<%= render 'filter' %>
</section>

<section id="results" class="list right">
	<p id="response"></p>
	<%- flash.each do |key, msg| -%>
	<div id="form_error">
	<%= flash[key] %>
	</div>
	<% end -%>
  <hgroup class="results_options">
	<ul>
      <li>
        <input type="checkbox" id="bulk_select" />
				<a id="show_set_options" href="#">SELECTED</a>
				<div id="set_options">
					<%= form_tag(download_set_stored_file_index_path, :method => "POST", :id => "download-set") do %>
						<a href="#" id="download-submit">Download</a>
					<% end -%>
					<hr />
					<%= form_tag(bulk_edit_stored_file_index_path, :method => "POST", :id => "bulk-edit") do %>
						<a href="#" id="bulk-edit-submit">Full Edit</a>
					<% end -%>
					<hr />
					<%= form_tag(bulk_destroy_stored_file_index_path, :method => "DELETE", :id => "bulk-delete") do %>
						<a href="#" id="bulk-delete-submit">Delete</a>
					<% end -%>
				</div>
			</li>
			<li>
				<a id="show_display_options" href="#">DISPLAY OPTIONS</a>
        <div id="display_options">
					<input type="radio" name="list_grid" id="list" checked="true" />
					<div id="list_view"></div>
					<input type="radio" name="list_grid" id="grid" />
					<div id="grid_view"></div>
					<div class="list_options">
						<hr />
						<p>
							<%= toggle_field_box "filename", "Name" %>
						</p>
						<p>
							<%= toggle_field_box "size" %>
						</p>
						<p>
							<%= toggle_field_box "date" %>
						</p>
						<p>
							<%= toggle_field_box "tags" %>
						</p>
						<p>
							<%= toggle_field_box "flags" %>
						</p>
						<p>
							<%= toggle_field_box "author" %>
						</p>
						<p>
							<%= toggle_field_box "license" %>
						</p>
						<p>
							<%= toggle_field_box "batch" %>
						</p>
						<div class="clear"></div>
          </div>
          <div class="per_page">
            <hr />
            <input type="text" id="per_page_user_input" size="3" value="<%= per_page %>" /> Results per page (<a href="#" id="refresh-per-page">refresh</a>)
          </div>
				</div>
			</li>
			<li>
				<a id="show_sort_options" href="#">SORT BY</a>
				<div id="sort_options">
					<%= sortable "display_name", "Name" %>
					<%= sortable "created_at", "Date" %>
					<%= sortable "author" %>
<!--					<%= sortable "copyright_holder", "Copyright" %> -->
					<%= sortable "file_size" %>
					<%= sortable "batch_id" %>
				</div>
      </li>
		</ul>
		<div class="paginate">
      <%= will_paginate @hits %>
    </div>
    <div class="clear"></div>
    <div class="multi_page_selection_helper">
      <%= render "multi_page_selection_helper" %>
    </div>
	</hgroup>

  <div id="files">
    <div class="file menu">
      <span class="filename"><%= sortable "display_name", "Name" %></span>
      <span class="size"><%= sortable "file_size", "Size" %></span>
      <span class="date"><%= sortable "created_at", "Date" %></span>
      <span class="tags">Tags</span>
      <span class="flags">Flags</span>
      <span class="author"><%= sortable "author" %></span>
      <span class="license">License</span>
      <span class="batch"><%= sortable "batch_id" %></span>
    </div>

	<% @hits.each do |hit| %> 
		<div class="file <%= cycle("even", "odd") %>" data-id="<%= hit.stored(:id) %>" id="file<%= hit.stored(:id) %>">
			<span class="icon">
				<%= link_to preview(hit), stored_file_path(hit.stored(:id)) %>
			</span>
			<span class="filename">	
				<span class="finput">
					<input class="downloadable" type="checkbox" name="stored_file[<%= hit.stored(:id) %>]" value="1" data-stored-file-id="<%= hit.stored(:id) %>" />
					<%= link_to raw('<span></span>'), download_stored_file_path(hit.stored(:id)), :class => 'download-single' %>
					<%= link_to raw('<span></span>'), stored_file_path(hit.stored(:id)), :class => 'show-single' %>
					<%= link_to raw('<span></span>'), edit_stored_file_path(hit.stored(:id)), :class => 'edit-single' %>
				</span>
				<span class="name">
					<%= link_to hit.stored(:display_name).first, edit_stored_file_path(hit.stored(:id)), :remote => true, :class => "quick_edit_link" %>
				</span>
			</span>
			<span class="size"><%= number_to_human_size(hit.stored(:file_size)) %></span>
			<span class="date"><%= hit.stored(:created_at).strftime("%m/%d/%Y") %></span>
			<span class="tags"><%= hit.stored(:indexed_tag_list).nil? ? '' : hit.stored(:indexed_tag_list).join(', ') %></span>
			<span class="flags">
				<%= preserved_flag_display(hit.stored(:flag_ids)) %>
				<%= university_flag_display(hit.stored(:flag_ids)) %>
			</span>
			<span class="author"><%= hit.stored(:author) %></span>
			<span class="contributor"><%= hit.stored(:contributor_name) %></span>
			<span class="license"><%= hit.stored(:license_name).nil? ? '' : hit.stored(:license_name).first %></span>
			<span class="batch"><%= hit.stored(:batch_id) %></span>
		</div>
	<% end %>
	</div>
	<hgroup class="results_options">
		<%= will_paginate @hits %>
		<div class="clear"></div>
	</hgroup>
  </section>
  <div class="clear"></div>
