<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td id="facets" valign="top">
  			<%= render 'filter' %>
		</td>
		<td id="results" valign="top" class="list" width="750">
			<p class="response"></p>
			<%= form_tag(download_set_stored_file_index_path, :method => "POST", :id => "download-set") do %>
              <%= submit_tag "Download Selected Files", :id => "download-submit" %>
			<% end -%>
			<h3>Results</h3>
			<a href="#" id="list">List</a> | <a href="#" id="thumb">Thumb</a>
			<p><%=pluralize(@search.total, 'result') %> found.</p>
            <p>
              Sort by: 
              <%= sortable "created_at", "Date" %>,
              <%= sortable "title" %>, 
              <%= sortable "file_size", "Size" %>, 
              <%= sortable "author" %>, 
              <%= sortable "batch_id", "Batch ID" %>
              (<%= sort_column %>, <%= sort_direction %>)
            </p>
            <p>
              <%= form_tag search_path, :method => "POST" do %>
                Items per page: <%= text_field_tag "per_page", per_page, :size => 2 %>
                <%=submit_tag "Refresh" %>
              <% end %>
            </p>
			<div class="menu">
				<span class="filename">Filename</span>
				<span class="size">Size</span>
				<span class="date">Date</span>
				<span class="tags">Tags</span>
				<span class="flags">Flags</span>
				<span class="author">Author</span>
				<span class="license">Copyright</span>
				<span class="batch">Batch</span>
			</div>
			
			<% @stored_files.each do |stored_file| %> 
				<div class="file" data-id="<%= stored_file.id %>">
					<span class="icon">
						<%= image_tag "image.png" %>
					</span>
					<span class="filename">	
						<input class="downloadable" type="checkbox" name="stored_file[<%= stored_file.id %>]" value="1" />
						<%= link_to (stored_file.title.blank? ? stored_file.original_filename : stored_file.title), download_stored_file_path(stored_file) %>
					</span>
					<span class="size">X KB</span>
					<span class="date"><%= stored_file.created_at.strftime("%m-%d-%Y") %></span>
					<span class="tags"><%= stored_file.tag_list %></span>
					<span class="flags">
						<% @flags.each do |flag| %>
						<input type="checkbox" disabled="true" data-method="toggle_<%= flag.name.downcase %>" title="<%= flag.label %>" <%= raw 'checked="checked"' if stored_file.flags.include?(flag) %> />
						<% end -%>	
					</span>
					<span class="author"><%= stored_file.user.name %></span>
					<span class="license"><%= stored_file.license ? stored_file.license.name : '' %></span>
					<span class="batch"><%= stored_file.batch_id %></span>
					<span><%= link_to "QE", edit_stored_file_path(stored_file), :remote => true, :class => "quick_edit_link" %></span>
				</div>
			<% end %>
		</td>
</table>

<div style="margin-top:2em;">
	<%= will_paginate @stored_files %>
</div>


<div id="quick_edit_panel"></div>
