<section id="filter">
<%= render 'filter' %>
</section>

<section id="results" class="list">
	<hgroup class="results_options">
		<ul>
			<li>
				<a id="show_set_options" href="#">SELECTED</a>
				<div id="set_options">
					<%= form_tag(download_set_stored_file_index_path, :method => "POST", :id => "download-set") do %>
						<%= submit_tag "Download", :id => "download-submit" %>
					<% end -%>
					<%= form_tag('#', :method => "POST", :id => "open-tabs") do %>
						<%= submit_tag "Open Links in Tabs", :id => "" %>
					<% end -%>
					<hr />
					<%= form_tag(bulk_edit_stored_file_index_path, :method => "POST", :id => "bulk-edit") do %>
						<%= submit_tag "Full Edit", :id => "bulk-edit-submit" %>
					<% end -%>
					<%= form_tag('#', :method => "POST", :id => "") do %>
						<%= submit_tag "Add Tags", :id => "" %>
					<% end -%>
					<%= form_tag('#', :method => "POST", :id => "") do %>
						<%= submit_tag "Add Attributes", :id => "" %>
					<% end -%>
					<%= form_tag('#', :method => "POST", :id => "") do %>
						<%= submit_tag "Edit Permissions", :id => "" %>
					<% end -%>
					<hr />
					<%= form_tag(bulk_destroy_stored_file_index_path, :method => "DELETE", :id => "bulk-delete") do %>
						<%= submit_tag "Delete", :id => "bulk-delete-submit" %>
					<% end -%>
				</div>
			</li>
			<li>
				<a id="show_display_options" href="#">DISPLAY OPTIONS</a>
				<div id="display_options">
					<input type="radio" name="list_grid" id="list" checked="true" />
					<div id="list_view"></div>
					<input type="radio" name="list_grid" id="grid" />
					<div id="grid_view"></div>
					<div class="list_options">
						<hr />
						<p>
							<%= toggle_field_box "filename", "Name" %>
						</p>
						<p>
							<%= toggle_field_box "size" %>
						</p>
						<p>
							<%= toggle_field_box "date" %>
						</p>
						<p>
							<%= toggle_field_box "tags" %>
						</p>
						<p>
							<%= toggle_field_box "flags" %>
						</p>
						<p>
							<%= toggle_field_box "author" %>
						</p>
						<p>
							<%= toggle_field_box "license", "Copyright" %>
						</p>
						<p>
							<%= toggle_field_box "batch" %>
						</p>
						<div class="clear"></div>
					</div>
				</div>
			</li>
		</ul>
		<div class="paginate">
			<%= will_paginate @hits %>
		</div>
		<div class="clear"></div>
	</hgroup>

	<div class="menu">
		<span class="filename"><span><%= sortable "title", "Name" %></span></span>
		<span class="size">Size</span>
		<span class="date"><span><%= sortable "created_at", "Date" %></span></span>
		<span class="tags">Tags</span>
		<span class="flags">Flags</span>
		<span class="author"><span><%= sortable "author" %></span></span>
		<span class="license">Copyright</span>
		<span class="batch">Batch</span>
	</div>

		<div id="files">	
	<% @hits.each do |hit| %> 
		<div class="file <%= cycle("even", "odd") %>" data-id="<%= hit.stored(:id) %>">
			<span class="icon">
				<%= image_tag "image.png" %>
			</span>
			<span class="filename">	
				<span class="finput">
					<input class="downloadable" type="checkbox" name="stored_file[<%= hit.stored(:id) %>]" value="1" data-stored-file-id="<%= hit.stored(:id) %>" />
				</span>
				<%= link_to hit.stored(:display_name), edit_stored_file_path(hit.stored(:id)), :remote => true, :class => "quick_edit_link" %>
			</span>
			<span class="size"><%= hit.stored(:file_size)/1000 %> KB</span>
			<span class="date"><%= hit.stored(:created_at).strftime("%m/%d/%Y") %></span>
			<span class="tags"><%= hit.stored(:indexed_tag_list).nil? ? '' : hit.stored(:indexed_tag_list).join(', ') %></span>
			<span class="flags">
				<%= preserved_flag_display(hit) %>
				<%= university_flag_display(hit) %>
			</span>
			<span class="author"><%= hit.stored(:author) %></span>
			<span class="license"><%= hit.stored(:license_name) %></span>
			<span class="batch"><%= hit.stored(:batch_id) %></span>
		</div>
	<% end %>
	</div>
	<hgroup class="results_options">
		<div class="paginate">
			<%= will_paginate @hits %>
		</div>
		<div class="clear"></div>
	</hgroup>
</section>
<div class="clear"></div>

<p class="response"></p>

<div id="quick_edit_panel"></div>
