<tr class="<%= cycle("even", "odd") %>" id="group<%= group.id %>">
	<td id="group_name<%= group.id %>">
		<% if current_user.can_do_group_method?(group, "edit_groups") -%>
			<%= link_to group.name, edit_group_path(group), :remote => true %>
		<% else -%>
			<%= group.name %>
		<% end -%>
	</td>
	<td>
		<% if group.owners.include?(current_user) -%>
		Owner
		<% elsif group.users.include?(current_user) -%>
		Member
		<% else -%>
		General Admin
		<% end -%>
	</td>
	<td><%= group.created_at.strftime("%m/%d/%Y") %></td>
	<td><%= group.updated_at.strftime("%m/%d/%Y") %></td>
	<td></td>
</tr>
