<tr class="<%= cycle("even", "odd") %>" id="group<%= group.id %>">
	<td id="group_name<%= group.id %>">
		<% if current_user.can_do_group_method?(group, "edit_groups") -%>
			<%= link_to group.name, edit_group_path(group), :remote => true %>
		<% else -%>
			<%= group.name %>
		<% end -%>
	</td>
	<td>
		<% if group.owners.include?(current_user) -%>
		Owner
		<% elsif group.invited_members.include?(current_user) -%>
		Invited <span class="invited_links">
        (<%= link_to 'Accept', group_accept_path(group) %> or
        <%= link_to 'Decline', group_decline_path(group) %>)</span>
		<% elsif group.users.include?(current_user) -%>
		Member
		<% else -%>
		General Admin
		<% end -%>
	</td>
	<td><%= group.created_at %></td>
	<td><%= group.updated_at %></td>
</tr>
