<h1>Editing group <%= @group.name %></h1>

<%= form_for(@group) do |f| %>
	<%= render :partial => "form", :locals => { :f => f } %>
	<table style="width:25%">
		<tr>
			<th>Members:</th>
			<th>Owner?</th>
			<th>Remove</th>
		</tr>
		<% @members.each do |email, value| -%>
		<tr id="row">
			<td><%= value[:user].name %></td>
			<td><%= check_box_tag "owner[#{value[:user].id}]", 1, value[:owner] %></td>
			<td><%= check_box_tag "remove[#{value[:user].id}]", 1, false %></td>
		</tr>
		<% end -%>
	</table>

	<div>
		Add User to Group<br />
		<%= text_field_tag :user_email, nil, :placeholder => "Enter email" %>
	</div>

	<%= f.submit "Update Group" %>
<% end %>
<%= button_to "Delete Group", group_path(@group), :confirm => "Are you sure you want to delete this group?", :method => :delete %> 

<%= link_to 'Groups', groups_path %>
