<p id="notice"><%= notice %></p>
<%= @debug %>
<p>
  <strong><%= @group.name %></strong>
</p>
<%= form_for @group do |f| %>
<table style="width:25%">
	<tr>
		<td>
  		Members:
		</td>
		<td>
			Owner
		</td>
		<td>
      Remove
		</td>
	</tr>
<% for user in @group.users.each do %>
	<tr id="row">
		<td><%= user.name %></td>
    <% if @group.owners.include?(user) %>
      <% @owner_status = "checked" %>
    <% else %>
      <% @owner_status = false %>
    <% end %>
    <td><%= check_box_tag "group[owner_ids][]", user.id, @owner_status %></td>
		<td><%= check_box_tag "group[user_ids][]", user.id, false %></td>
	</tr>
<% end %>
<%= hidden_field_tag "group[owner_ids][]", '' %>
<%= hidden_field_tag "group[user_ids][]", '' %>
</table>

<div style="margin-top:1.5em;">
	Add User to Group<br />
	<%= text_field_tag :user_email, nil, :placeholder => "Enter email" %>
	<%= f.submit "Add", :value => "Add" %>
</div>

<div class="buttons" style="margin-top:1.5em;">
	<%= f.submit "Update" %>
<% end %>
	<%= button_to "Delete Group", group_path(@group), :confirm => "Are you sure you want to delete this group?", :method => :delete %> 
</div>

<div>
<%= link_to 'Back', groups_path %>
</div>
