<h1>File Type Category</h1>

<%= form_for @mime_type_category, :url => admin_mime_type_category_path(@mime_type_category), :html => { :multipart => true } do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br />
<%= image_tag(@mime_type_category.icon_url) %><br />
<%= f.file_field :icon %>
<%#= f.hidden_field :icon_cache %><br />
<%= f.submit "Update" %>
<% end -%>
