<section id="filter">
<div id="panel">	

<h3>New File Type Category</h3>

<%= form_for @mime_type_category, :url => admin_mime_type_categories_path do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br />
<%= f.submit "Create" %>
<% end -%>

</div>
</section>

<section id="results" class="right">
<div id="panel">	 
<h3>Current File Type Categories</h3>

<table width="100%" class="admin_table">
<tr>
<th>Name</th>
<th>Image</th>
<th></th>
</tr>
<% @mime_type_categories.each do |mime_type_category| %>
<tr class="<%= cycle("even", "odd") %>">
<td><%= link_to mime_type_category.name, edit_admin_mime_type_category_path(mime_type_category) %></td>
<td><%= image_tag(mime_type_category.icon_url) %></td>
<td><%= link_to 'Delete', admin_mime_type_category_path(mime_type_category), :method => "DELETE" %></td>
</tr>
<% end -%>
</table>

</div>
</section>

