<section id="filter">
  <%= render 'search/filter' %>
</section>

<section id="intro" class="right">

  <p>Zone 1 is a prototype rescue repository providing temporary, safe and unlimited storage space to Harvard students, faculty and staff. Use it to:</p>

  <ul>
    <li>Share your content with others</li>
    <li>Find content that you can re-use</li>
    <li>Upload content for use in a course</li>
    <li>Describe and tag your content</li>
    <li>Nominate content that is worth preservation</li>
    <li>Transfer university records</li>
    <li>Store temporarily before transfer to a long-term repository</li>
  </ul>

  <p>Zone 1 is a collaboration between the <a href="http://hul.harvard.edu/ois/" target="_blank">Harvard University Library Office for Information Systems</a> and the <a href="http://cyber.law.harvard.edu" target="_blank">Berkman Center for Internet &amp; Society</a> and was funded by the <a href="http://osc.hul.harvard.edu/liblab" target="_blank">Office for Scholarly Communication Harvard Library Lab</a>. The source code can be browsed at the <a href="https://github.com/berkmancenter/zone1" target="_blank">Berkman Center's GitHub account</a>.</p>

</section>

<div id="footer" style="clear: both;">
  <hr>
  <div id='footer_img'>
    <%= image_tag 'LL_mini.png' %>
  </div>
  <p>
    Thanks to the generous support of
    the <%= link_to 'Harvard Library Lab', 'http://lab.library.harvard.edu/', :target => "_blank" %>,
    the <%= link_to 'Harvard Library Office for Scholarly Communication', 'https://osc.hul.harvard.edu/', :target => "_blank" %>,
    <br />
    the <%= link_to 'Berkman Center for Internet & Society', 'http://cyber.law.harvard.edu', :target => "_blank" %>
    and the <%= link_to 'Arcadia Fund', 'http://www.arcadiafund.org.uk/', :target => "_blank" %>.
  </p>
</div>

<div class="clear"></div>
