<h1>Right</h1>

<%= form_for @right, :url => admin_right_path(@right) do |f| -%>
<%= f.label :action %>
<%= f.text_field :action %><br />
<%= f.label :description %>
<%= f.text_field :description %><br />

<h3>Attached Roles</h3>

<% @roles.each do |role| -%>
<input type="checkbox" name="right[role_ids][]" <%= raw 'checked="checked"' if @right.roles.include?(role) %> value="<%= role.id %>" />
<%= role.name %><br />
<% end -%>

<%= f.submit "Update Right" %>
<% end -%>
