<h1>New Right</h1>

<%= form_for @right, :url => admin_rights_path do |f| -%>
<%= f.label :action %>
<%= f.text_field :action %><br />
<%= f.label :description %>
<%= f.text_field :description %><br />
<%= f.submit "Update Right" %>
<% end -%>

<h1>Rights</h1>

<table width="100%" cellpadding="0" cellspacing="0">
<tr>
<th>Action</th>
<th>Description</th>
<th></th>
</tr>
<% @rights.each do |right| %>
<tr>
<td><%= link_to right.action, edit_admin_right_path(right) %></td>
<td><%= right.description %></td>
<td><%= link_to 'Delete', admin_right_path(right), :method => "DELETE" %></td>
</tr>
<% end -%>
</table>

<br /><br />
<%= link_to 'Create New Right', new_admin_right_path %>
