<h1>Edit Role</h1>

<%= form_for(@role, :url => admin_role_path(@role), :html => { :id => "edit_roles" }) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br /><br />
<% @rights.each do |right| %>
<p>
<input name="rights[<%= right.id %>]" <%= raw 'checked="checked"' if @role.rights.include?(right) %> type="checkbox" value="1" />
<%= right.action %><br />
<small><%= right.description %></small>
</p>
<% end -%>
<div class="clear"></div>
<%= submit_tag("Update Rights") %>
<% end -%>
