<h1><%= @role.name %></h1>

<%= form_tag(role_path(@role), :method => "put") do %>
<% @rights.each do |right| %>
<input name="rights[<%= right.id %>]" <%= raw 'checked="checked"' if @role.rights.include?(right) %> type="checkbox" value="1" /> <%= right.method %> 
<small><%= right.description %></small><br />
<% end -%>
<%= submit_tag("Update Roles") %>
<% end -%>
