<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<%= f.label :collection_list %>
			<%= f.text_field :collection_list, { :value => @stored_file.anonymous_tag_list(:collections) } %><br />
			<%= f.label :tag_list %>
			<%= f.text_field :tag_list, { :value => @stored_file.anonymous_tag_list(:tags) } %><br />
			<%= f.label :description %><br />
			<%= f.text_area :description, :rows => 3 %><br />
		</td>
		<td>
			<%= f.label :author, "Author" %>
			<%= f.text_field :author %><br />
			<%= f.label :office %>
			<%= f.text_field :office %><br />
			<%= f.label :title %>
			<%= f.text_field :title %><br />
            <% if !@stored_file.new_record? -%>
            <% if @stored_file.disposition -%>
            <b>Current Disposition</b><br />
            <%= @stored_file.disposition.disposition_action.action %><br />
            <%= @stored_file.disposition.location %><br />
            <%= @stored_file.disposition.note %><br />
            <% end -%>
			<% if current_user.can_do_method?(@stored_file, "manage_disposition") -%>
            <b>Override Disposition</b><br />
            <%= f.fields_for :disposition_attributes do |d| -%>
              <%= d.label :disposition_action_id %>
              <%= d.select :disposition_action_id, DispositionAction.all.collect { |p| [ p.action, p.id ] }, { :include_blank => 'None' } %><br />
              <%= d.label :location %><br />
              <%= d.text_area :location, :rows => 3 %><br />
              <%= d.label :note %><br />
              <%= d.text_area :note, :rows => 3 %>
            <% end -%>
			<% end -%>
			<% end -%>
		</td>
	</tr>
</table>
<%= f.check_box :allow_notes %> <%= f.label "Allow users to add comments" %>
<% if false -%>
<% if !@stored_file.new_record? && @stored_file.allow_notes && current_user.can_do_method?(@stored_file, "delete_comments") -%>
<% @stored_file.comments.each do |comment| -%>
<div style="border:1px dashed #dfdfdf;">
<%= comment.content %> / <%= comment.user.name %>
</div>
<% end -%>
<div id="comments">
<%= f.fields_for :comment do |c| -%>
<%= c.label :content %>
<%= c.text_area :content, :rows => 3 %>
<% end -%>
</div>
<% end -%>
<% end -%>
<hr />

<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<div class="access-level">
			<% AccessLevel.all.each do |access_level| -%>
			<% if current_user.can_do_method?(@stored_file, "toggle_#{access_level.name}") -%>
			<input name="stored_file[access_level_id]" type="radio" <%= raw 'checked="checked"' if @stored_file.access_level == access_level %> data-method="toggle_<%= access_level.name %>" value="<%= access_level.id %>" /><%= access_level.label %><br />
			<% end -%>
			<% end -%>
			</div>
		</td>
		<td>
			<%= f.label "Groups" %><br />
			<% if @stored_file.new_record? -%>
			<% current_user.owned_groups.each do |group| -%>
			<%= check_box_tag "groups[#{group.id}]", 1, @stored_file.groups.include?(group) %><%= group.name %><br />
			<% end -%>
			<% else -%>
			<% current_user.owned_groups.each do |group| -%>
			<%= check_box_tag "stored_file[group_ids][]", group.id, @stored_file.groups.include?(group) %><%= group.name %><br />
			<% end -%>
			<% end -%>
		</td>
	</tr>
</table>
<hr />
<%= f.label :copyright %>
<%= f.text_field :copyright %><br />
<%= f.label :license_id, "License" %><br />
<% @licenses.each do |license| -%>
	<%= f.radio_button(:license_id, license.id) %> <%= license.name %>
<% end -%>		
<hr />
<div class="flags">
<% Flag.all.each do |flag| -%>
<% if @stored_file.flags.include?(flag) %>
<input type="checkbox" checked="checked" disabled="true" /><span class="readonly"><%= flag.label %></span><br />
<% elsif current_user.can_do_method?(@stored_file, "toggle_#{flag.name.downcase}") -%>
<input type="checkbox" name="flaggings[<%= flag.id %>][flag_id]" value="<%= flag.id %>" /><%= flag.label %><br />
<textarea name="flaggings[<%= flag.id %>][note]"></textarea><br />
<% end -%>
<% end -%>
</div>
