<hr />

<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td width="340px" valign="top">
			<%#= tag_list hitting the database %>
			<%= editable_field(f, @attr_accessible, :title, {}, :text_field) %>

			<%= editable_field(f, @attr_accessible, :tag_list, {}, :text_field, "Tags") %>

			<%= editable_field(f, @attr_accessible, :description, { :rows => 3}, :text_area) %>

			<%= editable_field(f, @attr_accessible, :allow_tags, {}, :check_box, "Allow users to add tags") %><br />
			<%= editable_field(f, @attr_accessible, :allow_notes, {}, :check_box, "Allow users to add comments") %>

			<%= render("comments/form", :stored_file => @stored_file, :attrs => @attr_accessible, :f => f) unless bulk_edit? %>
		</td>
		<td valign="top">
			<%= editable_field(f, @attr_accessible, :author, {}, :text_field, "Creator") %>

			<%= editable_field(f, @attr_accessible, :collection_list, {}, :text_field, "Collection") %>

			<%= editable_field(f, @attr_accessible, :original_date, {}, :text_field) %>

			<%= editable_field(f, @attr_accessible, :office, {}, :text_field) %>
		</td>
		<% if params[:controller] == "stored_files" && params[:action] == "new"-%>
		<td valign="top">
          <%= editable_field(f, @attr_accessible, :copyright_holder, {}, :text_field) %>

          <%= render "licenses/form", :attrs => @attr_accessible, :f => f %>
		</td>
		<% end -%>
	</tr>
</table>

<hr />

<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="top" width="35%">
			<%= render "access_levels/form", :attrs => @attr_accessible, :f => f %>
		</td>
		<td align="left">
			<%= render "groups/stored_file_form", :attrs => @attr_accessible, :f => f %>
		</td>
	</tr>
</table>

<hr />
		
<% if !(params[:controller] == "stored_files" && params[:action] == "new") -%>
<%= editable_field(f, @attr_accessible, :copyright_holder, {}, :text_field) %>
<%= render "licenses/form", :attrs => @attr_accessible, :f => f %>
<hr />
<% end -%>

<%= render "flags/form", :f => f %>

<hr />
