<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <%= bulk_edit :collection_list %>
      <%= f.label(:collection_list) %>
      <%= f.text_field(:collection_list) %><br />

      <%= render :partial => "tags/form", :locals => {:f => f}  %><br />

      <%= f.label :description %> <br />
      <%= f.text_area :description, :rows => 3 %><br />
    </td>
    <td>
      <%= f.label :author, "Author" %>
      <%= f.text_field :author %><br />

      <%= f.label :office %>
      <%= f.text_field :office %><br />

      <%= f.label :title %>
	<%= f.text_field :title %><br />
  </td>
</tr>
</table>
<%= f.check_box :allow_notes %> <%= f.label "Allow users to add comments" %>
<hr />

<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td>
		  <%= render :partial => "access_levels/form" %>
		</td>
		<td>
          <%= f.label "Groups" %>
		  <% @stored_file.group_map(current_user).each do |group_map| -%>
		  <%= f.fields_for :groups_stored_files, group_map[:groups_stored_files_entry] do |groups_stored_files_form| -%>
		  <%= render "groups_stored_files/form", :f => groups_stored_files_form %>
	  	  <% end -%>
		  <% end -%>
		</td>
	</tr>
</table>
<hr />
<%= f.label :copyright %>
<%= f.text_field :copyright %><br />
<%= f.label :license_id, "License" %><br />
<% @licenses.each do |license| -%>
	<%= f.radio_button(:license_id, license.id) %> <%= license.name %>
<% end -%>		
<hr />

<%= f.label "Flags" %>
<% @stored_file.flag_map.each do |flag_map| -%>
<%= f.fields_for :flaggings, flag_map[:flagging] do |flaggings_form| %>
<%= render "flaggings/form", :f => flaggings_form, :stored_file => @stored_file %>
<% end -%>
<% end -%>
