<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <%= editable_field(f, @attr_accessible, :collection_list, {}, :text_field) %>

      <%= editable_field(f, @attr_accessible, :tag_list, {}, :text_field) %>
      <%= editable_field(f, @attr_accessible, :allow_tags, {}, :check_box) %>

      <%= editable_field(f, @attr_accessible, :description, { :rows => 3}, :text_area) %>
    </td>
    <td>
      <%= editable_field(f, @attr_accessible, :author, {}, :text_field) %>

      <%= editable_field(f, @attr_accessible, :office, {}, :text_field) %>

      <%= editable_field(f, @attr_accessible, :title, {}, :text_field) %>
  </td>
</tr>
</table>
<%= editable_field(f, @attr_accessible, :allow_notes, {}, :check_box) %>

<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td>
		  <%= render "access_levels/form", :attrs => @attr_accessible, :f => f %>
		</td>
		<td>
		  <%= render "groups/stored_file_form", :attrs => @attr_accessible, :f => f %>
		</td>
	</tr>
</table>
<hr />

<%= editable_field(f, @attr_accessible, :copyright, {}, :text_field) %>

<%= render "licenses/form", :attrs => @attr_accessible, :f => f %>
    
<%= render "flags/form", :f => f %>
<hr />
<%= render "comments/form", :stored_file => @stored_file, :attrs => @attr_accessible, :f => f %>
