<a href="#" id="close_quick_edit">x</a>

<% if current_user -%>
  <h3><%= @stored_file.original_filename %></h3>

  <%= form_for @stored_file, :remote => true, :html => { :id => "edit_stored_file" } do |f| %>
    <%= editable_field(f, @attr_accessible, :tag_list, {}, "text_field") %>
    <%= render "access_levels/form", :attrs => @attr_accessible, :f => f %>
    <%= render "flags/form", :f => f %>

    <%= submit_tag %>	
  <% end %>
<% end -%>

<%= link_to 'Delete', stored_file_path(@stored_file), {:confirm => "Are you sure?", :method => :delete} %>
<%= link_to 'View/Edit', edit_stored_file_path(@stored_file) %>
