<h3>
	<%= @stored_file.original_filename %>
	<a href="#" id="close_quick_edit">X</a>
	<%= link_to 'Download', download_stored_file_path(@stored_file.id), :class => 'download-single' %>
	<%= link_to 'Show', stored_file_path(@stored_file.id), :class => 'show-single' %>
	<%= link_to 'Edit', edit_stored_file_path(@stored_file.id), :class => 'edit-single' %>
</h3>

<table width="416" cellpadding="0" cellspacing="0" class="info">
	<tr>
		<td colspan="2" align="center">
			IMAGE
		</td>
	</tr>
	<tr>
		<td>
			<p>
				<label>Created:</label>
				<span><%= @stored_file.original_date ? @stored_file.original_date.strftime("%m/%d/%Y") : '' %></span>
			</p>
			<p>
				<label>Uploaded:</label>
				<span><%= @stored_file.created_at.strftime("%m/%d/%Y") %></span>
			</p>
			<p>
				<label>Collection:</label>
				<span><%= @stored_file.anonymous_tag_list(:collections) %></span>
			</p>
			<p>
				<label>Office:</label>
				<span><%= @stored_file.office %></span>
			</p>
			<p>
				<label>Creator:</label>
				<span><%= @stored_file.author %></span>
			</p>
			<p>
				<label>Contributor:</label>
				<span><%= @stored_file.contributor_name %></span>
			</p>
		</td>
		<td>
			<p>
				<label>Tags</label>
				<span><%= @stored_file.anonymous_tag_list(:tags) %></span>
			</p>
			<p>
				<label>Attributes:</label>
				<span>TODO: Mime type, flags</span>
			</p>
			<p>
				<label>Copyright:</label>
				<span><%= @stored_file.copyright_holder %></span>
			</p>
			<p>
				<label>License:</label>
				<span><%= @stored_file.license_name %></span>
			</p>
		</td>
	<tr>
</table>

<% if current_user -%>
	<%= form_for @stored_file, :remote => true, :html => { :id => "edit_flags" } do |f| %>
		<%= render "flags/form", :f => f %>
		<%= submit_tag "UPDATE" %>	
	<% end %>

	<a href="#" id="quick_edit">Quick Edit<span></span></a>

	<%= form_for @stored_file, :remote => true, :html => { :id => "quick_edit_form" } do |f| %>
	<table width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td colspan="2">
				<%= @stored_file.original_filename %>
			</td>
		</tr>
		<tr>
			<td>
				<%= editable_field(f, @attr_accessible, :tag_list, {}, "text_field") %>
			</td>
			<td>
				<%= render "access_levels/form", :attrs => @attr_accessible, :f => f %>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<%= submit_tag "UPDATE" %>	
				<%= link_to "DELETE", '#', :class => 'delete' %>	
			</td>
		</tr>
	</table>
	<% end %>
<% end -%>
