<table width="416" cellpadding="0" cellspacing="0" class="info">
	<tr>
		<td colspan="2" align="center">
			<%= preview @stored_file %>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				<label>Created:</label>
				<span><%= @stored_file.original_date ? @stored_file.original_date.strftime("%m/%d/%Y") : '' %></span>
			</p>
			<p>
				<label>Uploaded:</label>
				<span><%= @stored_file.created_at.strftime("%m/%d/%Y") %></span>
			</p>
			<p>
				<label>Collection:</label>
				<span><%= @stored_file.anonymous_tag_list(:collections) %></span>
			</p>
			<p>
				<label>Office:</label>
				<span><%= @stored_file.office %></span>
			</p>
			<p>
				<label>Creator:</label>
				<span><%= @stored_file.author %></span>
			</p>
			<p>
				<label>Contributor:</label>
				<span><%= @stored_file.contributor_name %></span>
			</p>
		</td>
		<td>
			<p>
				<label>Tags</label>
				<span><%= search_by_tags(@stored_file.anonymous_tag_list(:tags)) %></span>
			</p>
			<p>
				<label>Attributes:</label>
				<span><%= @stored_file.mime_type.try :name %>, <%= @stored_file.flags.collect { |f| f.label }.join(', ') %></span>
			</p>
			<p>
				<label>Copyright:</label>
				<span><%= @stored_file.copyright_holder %></span>
			</p>
			<p>
				<label>License:</label>
				<span><%= @stored_file.license_name %></span>
			</p>
		</td>
	<tr>
</table>

<% if current_user.present? -%>
	<a href="#" id="quick_edit">Quick Edit<span></span></a>

	<%= form_for @stored_file, :remote => true, :html => { :id => "quick_edit_form" } do |f| %>
	<%= render "flags/form", :f => f %>
	<table width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td style="padding-right:30px;">
				<%= editable_field(f, @attr_accessible, :tag_list, {}, "text_field", "Tags") %>
			</td>
			<td>
				<%= render "access_levels/form", :attrs => @attr_accessible, :f => f %>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<div class="submit_buttons">
					<%= submit_tag "UPDATE" %>	
					<% if @stored_file.can_user_destroy?(current_user) %>
					<%= link_to "DELETE", '#', :class => "delete" %>
					<% end -%>
				</div>
			</td>
		</tr>
	</table>
	<% end %>
	<%= form_for @stored_file, :remote => true, :method => :delete, :html => { :id => "quick_edit_delete" } do |f| %>
    <% end -%>
<% end -%>
