<%= @stored_file.original_filename %>
<%= link_to raw('<span></span>'), '#', :class => 'close-quickview' %>
<% if current_user.present? -%>
<%= link_to raw('<span></span>'), edit_stored_file_path(@stored_file.id), :class => 'edit-single' %>
<% end -%>
<%= link_to raw('<span></span>'), stored_file_path(@stored_file.id), :class => 'show-single' %>
<%= link_to raw('<span></span>'), download_stored_file_path(@stored_file.id), :class => 'download-single' %>
