<a href="#" id="close_quick_edit">x</a>

<% if current_user -%>
  <h3><%= @stored_file.original_filename %></h3>

  <%= form_for @stored_file, :remote => true, :html => { :id => "edit_stored_file" } do |f| %>
  
    <%= render :partial => "tags/form", :locals => {:f => f} %>

    <%= render :partial => "access_levels/form" %>

    <%= render :partial => "flaggings/form" %>

    <%= submit_tag %>	
  
  <% end %>
  
<% end -%>

<%= link_to 'Delete', stored_file_path(@stored_file), {:confirm => "Are you sure?", :method => :delete} %>
<%= link_to 'Full edit', edit_stored_file_path(@stored_file) %>
<%= link_to 'Full show (incl. comments)', @stored_file %>
