<section id="filter">
<%= render 'search/filter' %>
</section>

<div class="right" id="stored_file">
	<fieldset>
	   <h3>Upload</h3>
	
		<%= form_for @stored_file, :url => "/stored_files", :html => {:id => :upload_data} do |f| %>
			<%= hidden_field_tag 'temp_batch_id', @temp_batch_id %>
			<%= hidden_field_tag 'max_web_upload_file_size', @max_web_upload_file_size %>

			<h4>1. Upload File(s)</h4>	
	        <div id="uploader">
		    	<p>Failed to initialize the upload tool. Not to point fingers, but
	               perhaps you are using a very old browser that is unsupported?</p>
		    </div>
	
			<h4>2. Enter Common Attributes</h4>
			<%= render "form", :f => f %>

			<h4 id="sftp_toggler">3. SFTP</h4>
	        <%= render 'sftp' %>
		<% end %>
	
	</fieldset>
</div>
