<div id="stored_file">
	   <h3>Upload</h3>
	
		<%= form_for @stored_file, :url => "/stored_files.json", :html => {:id => 'stored-file-upload'} do |f| %>
			<%= hidden_field_tag 'temp_batch_id', @temp_batch_id %>
			<%= hidden_field_tag 'max_web_upload_file_size', @max_web_upload_file_size %>

			<h4>Enter Common Attributes</h4>
			<%= render "form", :f => f %>

            <table id="upload_table">
            	<tr>
            		<td id="upload_table_left">
            			<h4>Upload Files</h4>
            
            	        <div id="stored_files_uploader">
            		    	<p>Failed to initialize the upload tool. Not to point fingers, but
            	               perhaps you are using a very old browser that is unsupported?</p>
            		    </div>
            		</td>
            		<td id="upload_table_right">
            	        <%= render "sftp" %>
            		</td>
            	</tr>
            	<tr>
            		<td id="upload_table_left" align="center">
                        <div id="upload_table_status"></div>
                    </td>
                    <td></td>
                </tr>
            </table>

		<% end %>
	
</div>
<div class="clear"></div>
