<section id="filter">
<%= render 'search/filter' %>
</section>

<div class="right" id="stored_file">
	<% content_for :head do -%>
	  <%= stylesheet_link_tag "jquery.ui.plupload.css" %>
	<% end -%>
	
	<fieldset>
	   <h3>Upload</h3>
	
		<%= form_for @stored_file, :url => "/stored_files", :html => {:id => :upload_data} do |f| %>
			<%= hidden_field_tag 'temp_batch_id', @temp_batch_id %>
			<%= hidden_field_tag 'max_web_upload_file_size', @max_web_upload_file_size %>

			<p>Some upload details here.</p>
	
			<%= render "form", :f => f %>
	
	        <div id="uploader">
		    	<p>Failed to initialize the upload tool. Not to point fingers, but
	               perhaps you are using a very old browser that is unsupported?</p>
		    </div>
	
	        <%= render 'sftp' %>
		<% end %>
	
	</fieldset>
</div>
