
<h1><%= @stored_file.original_filename %></h1>

ID: <%= @stored_file.id %><br />
Tags: <%= @stored_file.tag_list %><br />
Description: <%= @stored_file.description %> <br />
Copyright: <%= @stored_file.copyright %><br />
Terms of License: <%= @stored_file.license_terms %><br />

<div class="actions">
	<%= submit_tag "EDIT" %>
</div>
