<section id="filter">
<%= render 'search/filter' %>
</section>
	
<div class="right" id="stored_file">	
	<h3><%= @title %></h3>
	<%= form_for @stored_file, :html => { :id => "edit_stored_file" } do |f| %>
		<%- flash.each do |key, msg| -%>
		<div id="form_error">
		<%= flash[key] %>
		</div>
		<% end -%>
		<div id="thumbnail">
			<%= preview @stored_file %>
		</div>
		<h5><%= @stored_file.original_filename %></h5>
		<%= f.label :contributor %>: <%= @stored_file.user.name %><br />
		<%= f.label :file_size %>: <%= number_to_human_size(@stored_file.file_size) %><br />
	    <%= f.label :url %>: <%= link_to stored_file_url(@stored_file), stored_file_path(@stored_file) %><br />
		<% if @stored_file.batch_id -%>
		<%= f.label "Batch:" %> <%= @stored_file.batch_id %><br />
		<% end -%>
		<%= f.label "Preserved:" %> <%= preserved_display(@stored_file) %><br />
		<%= f.label "University Record:" %> <%= university_display(@stored_file) %><br />
		<%= f.label :ingest_date %>: <%= @stored_file.created_at.strftime("%m-%d-%Y") %><br />
	
		<%= render "form", :f => f %>
		<% if current_user.present? -%>
		<div class="submit_buttons">	
		<%= f.submit "UPDATE" %>
		<% if @stored_file.can_user_destroy?(current_user) -%>
		<%= link_to "DELETE", stored_file_path(@stored_file), :method => :delete, :class => "delete" %> 
	    <% end -%>
		</div>
		<% end -%>
	<% end %>
</div>
