<div class="groups_stored_files">
  <% if bulk_edit?  %>
    <div>
      <%= check_box_tag("attr_for_bulk_edit[]group_ids[]", group.id, false, class: 'bulk_checkbox') %>
      <%= label_tag 'bulk_checkbox', 'Mark for bulk edit?' %>
    </div>
  <% end %>
    <%= f.hidden_field :_destroy, :value => 1 %>
    <%= check_box_tag f.object_name + "[_destroy]", 0, f.object.checked? %>
    <%= f.label :group_id, group.name %>
    <%= f.hidden_field :group_id %>
</div>
