<section id="filter">
<div id="panel">	

<h3>New Flag</h3>

<%= form_for @flag, :url => admin_flags_path do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br />
<%= f.label :label %>
<%= f.text_field :label %><br />
<%= f.submit "Create" %>
<% end -%>


</div>
</section>

<section id="results" class="right">
<div id="panel">	 

<h3>Existing Flags</h3>

<table width="100%" cellpadding="0" cellspacing="0" class="admin_table">
<tr>
<th>Name</th>
<th>Label</th>
<th></th>
</tr>
<% @flags.each do |flag| %>
<tr>
<td><%= link_to flag.name, edit_admin_flag_path(flag) %></td>
<td><%= flag.label %></td>
<td><%= link_to 'Delete', admin_flag_path(flag), :method => "DELETE" %></td>
</tr>
<% end -%>
</table>

</div>
</section>

