<!DOCTYPE html>
<html>
<head>
	<title>Zone1</title>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<%= yield :head %>
</head>
<body>

<%= link_to 'Admin', "/admin" %> |
<%= link_to 'Users', admin_users_path %> |
<%= link_to 'Flags', admin_flags_path %> |
<%= link_to 'Rights', admin_rights_path %> |
<%= link_to 'Roles', admin_roles_path %> |
<%= link_to 'Home', root_path %>

<div id="error" style="color:red; font-weight: bold; margin: 10px 0px; font-size: 18px;">
<%= flash[:error] %>
<%= flash[:notice] %>
</div>

<%= yield %>

<footer>
</footer>

</body>
</html>
