<!DOCTYPE html>
<html>
<head>
	<title>Zone1</title>
    <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" %>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<%= yield :head %>
</head>

<body id="<%= params[:controller] %>_body">
	<div id="wrapper">
		<header>
			<a href="/" id="logo"><%= image_tag "zoneone.png", :alt => "Zone One" %></a>
			<ul id="nav">
			<% if current_user -%>
			<li><%= link_to 'Upload Files', upload_path, :id => "upload_link" %></li>
			<li id="userlinks">
				<%= link_to raw("#{current_user.name}<span></span>"), "#", :id => "username" %>
				<div>
					<%= link_to "Manage Files", url_for(:controller => "search", :action => "index", :user_id => current_user.id) %>
					<%= link_to "Manage Groups", groups_url %>
				</div>
			</li>
			<li><%= link_to 'LOGOUT', destroy_user_session_path, :method => :delete, :class => "last" %></li>
			<% else -%>
			<li><%= link_to 'LOG IN', new_user_session_path %></li>
			<% end -%>
			</ul>
			<div class="clear"></div>
		</header>
		<%= yield %>
	</div>
</body>
</html>
