<!DOCTYPE html>
<html>
<head>
  <title>Zone1</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<% if current_user -%>
Hi, <%= current_user.name %>!
<% else -%>
<%= link_to 'Sign in', new_user_session_path %>
<% end -%>
</header>

<%= yield %>

<footer>
<%= link_to 'Upload File(s)', upload_path %>
<%= form_tag(search_path, :method => "post") do %>
<%= text_field_tag :q %>
<%= submit_tag "Search" %>
<% end -%>

</footer>

</body>
</html>
