<!DOCTYPE html>
<html>
<head>
	<title>Zone1</title>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" %>
	<%= csrf_meta_tags %>
	<%= yield :head %>
</head>

<body>

<header>
<a href="/" id="logo"><%= image_tag "zoneone.png", :alt => "Zone One" %></a>
<nav>
<% if current_user -%>
<%= link_to 'Upload File(s)', upload_path %> |
<%= current_user.name %> | 
<%= link_to 'LOGOUT', destroy_user_session_path, :method => :delete %> 
<% else -%>
<%= link_to 'LOG IN', new_user_session_path %>
<% end -%>
</nav>
<div class="clear"></div>
</header>

<%= yield %>

</body>
</html>
