<!DOCTYPE html>
<html>
<head>
	<title>Zone1</title>
    <%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" %>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<%= yield :head %>

</head>

<body id="<%= params[:controller] %>_body">

	<div id="wrapper">
		<header>
			<a href="/" id="logo"><%= image_tag "zoneone.png", :alt => "Zone One" %></a>
			<ul id="nav">
			<% if current_user -%>
                <% if can_view_admin? -%>
       			<li id="adminlinks">
                    <%= link_to raw('Zone1 Admin<span></span>'), "#", :id => "admin_link" %>
                    <div>
                        <%= link_to 'App Configuration', "/admin" %>
                        <%= link_to 'File Type Categories', admin_mime_type_categories_path %>
                        <%= link_to 'File Types', admin_mime_types_path %> 
                        <%= link_to 'Users', admin_users_path %>
                        <%= link_to 'Flags', admin_flags_path %>
                        <%= link_to 'Rights', admin_rights_path %>
                        <%= link_to 'Roles', admin_roles_path %>
                        <%= link_to 'Groups', groups_path %>
                    </div>
                </li>
                <% end -%>
			<li><%= link_to 'Upload Files', upload_path, :id => "upload_link" %></li>
			<li id="userlinks">
				<%= link_to raw("#{current_user.name}<span></span>"), "#", :id => "username" %>
				<div>
					<%= link_to "Manage Files", search_path(:user_id => current_user.id), :id => 'manage_files' %>
					<%= link_to "Manage Groups", groups_path %>
					<%= link_to "CSV Edit Import", "#", :id => "import-csv" %>
				</div>
			</li>
			<li><%= link_to 'LOGOUT', destroy_user_session_path, :method => :delete, :class => "last" %></li>
			<% else -%>
    			<li><%= link_to 'LOG IN', new_user_session_path %></li>
			<% end -%>
			</ul>
      <div id="message"><%= flash[:notice] %></div>

			<div class="clear"></div>
		</header>

        <div id="error">
            <%= flash[:error] %>
        </div>
      		<%= yield %>

        <div id="footer">
          Zone One v<%= Zone1::VERSION %>
        </div>
	</div>

  <div id="import-csv-dialog">
	<%= form_tag('/bulk_edits/csv_edit.json', :method => 'POST', :id => 'csv-edit-upload') do %>
	<div id="csv_edit_uploader">
	 	<p>Could not start the CSV Edit Import tool.</p>
	 </div>
	<% end %>	
  </div>

</body>
</html>
