<!DOCTYPE html>
<html>
<head>
<title>Zone1</title>
<%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" %>
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<%= yield :head %>

</head>

<body id="<%= params[:controller] %>_body">
  <div id="wrapper">
    <div id='header'>
      <a href="/" id="logo"><%= image_tag "zoneone.png", :alt => "Zone One" %></a>
      <ul id="nav">
        <% if current_user %>
          <% if can_view_admin? %>
            <%= render 'layouts/admin_links' %>
          <% end %>

          <li>
            <%= render 'layouts/user_links' %>
            <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete, class: "last" %>
          </li>
        <% else %>
            <li><%= link_to 'LOG IN', new_user_session_path %></li>
        <% end %>
      </ul>

      <div id="message"><%= flash[:notice] %></div>
      <div class="clear"></div>
      <div id="breadcrumbs"><%= render_breadcrumbs %></div>
    </div> <!--header-->

    <div id="error">
      <%= flash[:error] %>
    </div>

    <%= yield %>

    <div id="footer" style="clear: both;">
      <hr>
      <div id='footer_img'>
        <%= image_tag 'LL_mini.png' %>
      </div>
      <p>
        Thanks to the generous support of the 
      <%= link_to 'Harvard Library Lab', 'http://lab.library.harvard.edu/' %>
      , the
      <%= link_to 'Harvard Library Office for Scholarly Communication',
        'http://lab.library.harvard.edu/' %>
      , the
      <%= link_to 'Harvard Library Lab', 'http://lab.library.harvard.edu/' %>
      and the
      <%= link_to 'Harvard Library Lab', 'http://lab.library.harvard.edu/' %>
      .
      </p>
      <div id='version'>
        Zone One v<%= Zone1::VERSION %>
      </div>
    </div>

    <div id="import-csv-dialog">
      <%= form_tag('/bulk_edits/csv_edit.json', :method => 'POST', :id => 'csv-edit-upload') do %>
        <div id="csv_edit_uploader">
          <p>Could not start the CSV Edit Import tool.</p>
        </div>
      <% end %>	
    </div>
  </div> <!--wrapper-->
</body>
</html>
