<!DOCTYPE html>
<html>
<head>
  <title>Zone1</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user -%>
Hi, <%= current_user.name %>!
<%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
<% else -%>
<%= link_to 'Sign In', new_user_session_path %>
<% end -%>
<br/>

<%= yield %>

<footer>
<%= link_to 'Upload File(s)', upload_path %>
<%= form_tag search_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

</footer>

</body>
</html>
