<!DOCTYPE html>
<html>
<head>
	<title>Zone1</title>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<%= yield :head %>
</head>
<body>

<% if current_user -%>
<%= current_user.name %> 
(<%= render :partial => "quotas/user_stats", :locals => { :quota => current_user.quota } %>) |
<%= link_to 'Upload File(s)', upload_path %> |
<%= link_to 'Groups', groups_path %> |
<%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %> 
<% if current_user.can_do_global_method?("view_admin") %>
<%= link_to 'Admin Dasbboard', "/admin" %> |
<%= link_to 'Users', admin_users_path %> |
<%= link_to 'Flags', admin_flags_path %> |
<%= link_to 'Rights', admin_rights_path %> |
<%= link_to 'Roles', admin_roles_path %>
<% end -%>
<% else -%>
<%= link_to 'Sign In', new_user_session_path %>
<% end -%>
<br/>
<%= form_tag search_path, :method => :get do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
	</p>
<% end %>

<div id="error" style="color:red; font-weight: bold; margin: 10px 0px; font-size: 18px;">
<%= flash[:error] %>
<%= flash[:notice] %>
</div>

<%= yield %>

<footer>
</footer>

</body>
</html>
